aiohttp==3.7.4.post0
astroid==2.14.2
async-timeout==3.0.1
attrs==22.2.0
chardet==4.0.0
dill==0.3.6
discord.py==1.7.3
idna==3.4
isort==5.11.5
lazy-object-proxy==1.9.0
mccabe==0.7.0
multidict==6.0.4
platformdirs==3.0.0
pylint==2.16.2
python-dotenv==0.21.1
tomli==2.0.1
tomlkit==0.11.6
typed-ast==1.5.4
typing_extensions==4.4.0
wrapt==1.14.1
yarl==1.8.2
